<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <style>
        .sectiontable {
            width:100%;
        }

        table {
            display: table;
            margin-bottom: 30px;
        }
        table tr {
	        display: table-cell;
        }
        table tr td {
            display: block;
        }

        th, td {
        padding: 3px;
        text-align: left;
        border-collapse: collapse;
        }
        table tr:nth-child(even) {
        background-color: #fff;
        }
        table tr:nth-child(odd) {
        background-color: rgb(161, 14, 14);
        }
        table th {
        color: white;
        background-color: black;
        }

        span {
            text-align: left;
        }

        .sectionheading {
            width = 50%;
        }
    </style>
    <body style="font-family:Arial;font-size:12pt;background-color:#EEEEEE">

<h5><div>Eb charges calculated on: {{billtag}}</div></h5>
            {{#each ebBillData}}
           <table border="1" style="width:100%">
                <tr style="width:30%; background-color:aquamarine">
                    <td>Room No:</td>
                    <td>Reading</td>
                    <td>Reading Date</td>
                    <td>Last reading</td>
                    <td>Last reading Date</td>
                    <td>Total EB Units</td>
                    <td>Number of persons in room</td>
                    <td>Per head units</td>
                    <td>Per head charges</td>
                    <td>Occupants</td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight:bold">
                            {{@key}}
                        </span>
                    </td>
                    <td align="center">
                        <span style="font-weight:bold">
                            {{this.currentReading}}
                        </span>
                    </td>
                    <td>
                        <span style="font-weight:bold">
                            {{this.currReadingDate}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.lastReading}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.lastReadingDate}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.totalUnits}}
                        </span>
                    </td>


                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.numPersons}}
                        </span>
                    </td>


                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.perHeadEBUnits}}
                        </span>
                    </td>

                    <td>
                        <span style="font-weight:bold">{{this.perHeadCharge}}</span>
                    </td>
                    <td>
                        <span style="font-weight:bold">{{this.usersInthisRoom}}</span>
                    </td>
                </tr>
        </table>
        <br/><br/>
        {{/each}}

    </body>
</html>
