<div style='float:left'>
        <table border="1" style="width:100%">
            <THEAD>
                <tr>
                    <th>DueDate</th>
                    <th>Room</th>
                    <th>Phone</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Rent</th>
                    <th>EB+Maint</th>
                    <th>Total</th>
                    <th>Collection1</th>
                    <th>Date_1</th>
                    <th>Signature1</th>
                    <th>Collection2</th>
                    <th>Date_2</th>
                    <th>Remark</th>
                    <th>Signature2</th>
                </tr>
            </THEAD>
            {{#each transactions}}
                <tr>
                    <td>
                        <span style="font-weight:bold; white-space: nowrap;">
                            {{doj}}
                        </span>
                    </td>
                    <td align="center">
                        <span style="font-weight:bold">
                            {{roomNo}}
                        </span>
                    </td>
                    <td>
                        <span style="font-weight:bold">
                            {{inmatePhoneNo}}
                        </span>
                    </td>
                    <td>
                        <span style="font-weight:bold">
                            {{inmateName}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{previousBalance}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{rent}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{ebAmount}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{total ebAmount rent previousBalance}}
                        </span>
                    </td>

                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>

                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>

                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                </tr>
            {{/each}}
        </table>
        <br/> <br/>
        <p style='overflow:hidden;page-break-before:always!important;'></p>
        <div style='overflow:hidden;page-break-before:always;'>

            <table border="1" style="width:100%">
                <THEAD>
                    <tr>
                        <th>Room</th>
                        <th>Last Reading:<br/>
                            <xsl:value-of select="hostel/meter_readings/last_reading_date"/>
                        </th>
                        <th>Current Reading:<br/>
                            <xsl:value-of select="hostel/meter_readings/current_reading_date"/>
                        </th>
                        <th>Total units</th>
                        <th>Inmate#</th>
                        <th>is Fixed?</th>
                        <th>Charge/person</th>
                    </tr>
                </THEAD>
                {{#each meterReadings}}
                    <tr>
                        <td align="center">
                            <span style="font-weight:bold">
                                {{this.roomId}}
                            </span>
                        </td>
                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.lastMeterReading}}
                            </span>
                        </td>
                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.meterReading}}
                            </span>
                        </td>

                        <td align="right">
                            <span style="font-weight:bold">
                                {{subtract this.meterReading this.lastMeterReading}}
                            </span>
                        </td>

                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.peopleCount}}
                            </span>
                        </td>

                        <td align="center">
                            <span style="font-weight:bold">
                                {{this.fixedCharge}}
                            </span>
                        </td>

                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.chargePerPerson}}
                            </span>
                        </td>

                    </tr>
                {{/each}}
            </table>
        </div>
</div>