<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <style>
        table, th, td {
        border: 1px solid pink;
        border-collapse: collapse;
        }
        th, td {
        padding: 3px;
        }
        table tr:nth-child(even) {
        background-color: #eee;
        }
        table tr:nth-child(odd) {
        background-color: #fff;
        }
        table th {
        color: white;
        background-color: black;
        }
    </style>
    <body style="font-family:Arial;font-size:12pt;background-color:#EEEEEE">
        <table border="1" style="width:100%">
            <THEAD>
                <tr>
                    <th>Due Date</th>
                    <th>Room</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Rent</th>
                    <th>EB</th>
                    <th>Total</th>
                    <th>Income 1</th>
                    <th>Date</th>
                    <th>Income 2</th>
                    <th>Date2</th>
                    <th>Remark</th>
                    <th>Signature</th>
                </tr>
            </THEAD>
            {{#each transactions}}
                <tr>
                    <td>
                        <span style="font-weight:bold">
                            {{doj}}
                        </span>
                    </td>
                    <td align="center">
                        <span style="font-weight:bold">
                            {{roomNo}}
                        </span>
                    </td>
                    <td>
                        <span style="font-weight:bold">
                            {{inmateName}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{previousBalance}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{rent}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{ebAmount}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{total ebAmount rent previousBalance}}
                        </span>
                    </td>

                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>

                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>

                    <td>
                        <span style="font-weight:bold"></span>
                    </td>
                    <td>
                        <span style="font-weight:bold"></span>
                    </td>

                </tr>
            {{/each}}
        </table>
        <br/> <br/>
        <div style="page-break-before: always;">

            <table border="1" style="width:100%">
                <THEAD>
                    <tr>
                        <th>Room</th>
                        <th>Last Reading:<br/>
                            <xsl:value-of select="hostel/meter_readings/last_reading_date"/>
                        </th>
                        <th>Current Reading:<br/>
                            <xsl:value-of select="hostel/meter_readings/current_reading_date"/>
                        </th>
                        <th>Total units</th>
                        <th>Inmate#</th>
                        <th>is Fixed?</th>
                        <th>Charge/person</th>
                    </tr>
                </THEAD>
                {{#each meterReadings}}
                    <tr>
                        <td align="center">
                            <span style="font-weight:bold">
                                {{this.roomId}}
                            </span>
                        </td>
                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.lastMeterReading}}
                            </span>
                        </td>
                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.meterReading}}
                            </span>
                        </td>

                        <td align="right">
                            <span style="font-weight:bold">
                                {{subtract this.meterReading this.lastMeterReading}}
                            </span>
                        </td>

                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.peopleCount}}
                            </span>
                        </td>

                        <td align="center">
                            <span style="font-weight:bold">
                                {{this.fixedCharge}}
                            </span>
                        </td>

                        <td align="right">
                            <span style="font-weight:bold">
                                {{this.chargePerPerson}}
                            </span>
                        </td>

                    </tr>
                {{/each}}
            </table>
        </div>
    </body>
</html>
