<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<style>

    table,
    th,
    td {
        border: 1px solid pink;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 3px;
    }

    table tr:nth-child(even) {
    background-color: #eee;
    }
    table tr:nth-child(odd) {
    background-color: #fff;
    }
    table th {
    color: white;
    background-color: black;
    }
</style>

<body style="font-family:Arial;font-size:12pt;background-color:#EEEEEE">
    <!--{{stringyfy stagedUserList}}-->


    <table border="1" style="width:100%">
        <col width=20><col width=30><col width=50>  <col width=50><col width=50><col width=90>  <col width=170><col width=100><col width=200><col width=110> 
        <tbody>
        <tr>
            <th>SerialNo:</th>
            <th>Room:</th>
            <th>Advance</th>
            <th>Rent</th>
            <th>CollectedAtDay1</th>
            <th>DOJ</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Note</th>
            <th>Approve</th>
        </tr>
        {{#each stagedUserList as |userAcc userId|}}
        <!--{{stringyfy this}}-->
        <tr id="user_{{userId}}">
            <td>{{serialNo}}</td>
            <td>
                {{userAcc.roomNo}}
            </td>
            <td>
                {{userAcc.inmateAdvance}}
            </td>
            <td>
                {{userAcc.inmateRent}}
            </td>
            <td>
                {{userAcc.collectedOnDayOne}}
            </td>
            <td>
                {{userAcc.inmateJoiningDateStr}}
            </td>
            <td>
                {{userAcc.fullName}}
            </td>
            <td>
                {{userAcc.phone}}
            </td>
            <td>
                {{userAcc.joiningNote}}
            </td>
            <td><a href="./myhome?load=approveuser&user={{userId}}">Approve</a>
            
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <!--<div class='menuitem'><a href="javascript:window.demo.collectPayment()">Pay Bill</a></div> -->

</body>

</html>