    <style>
        table {
            display: table;
            table-layout: fixed;
        }
        table tr {
	        display: table-cell;
        }
        table tr td {
            display: block;
        }

        table, th, td {
        border: 1px solid pink;
        }

        table tr:nth-child(even) {
        background-color: #eee;
        width: fit-content;
        }
        table tr:nth-child(odd) {
        background-color: rgb(255, 255, 255);
        width: fit-content;
        }
        table th {
        color: white;
        background-color: black;
        }


    </style>
{{#if (isdefined orderDetails) }}    
        <table border="1" style="width:100%">
                <tr>
                    <td>Name</td>
                    <td>Phone#</td>
                    <td>Bill Ref#</td>
                    <td>date:</td>
                    <td>Amount:</td>
                    <td>User ID:</td>
                    <td>Transaction Status:</td>
                </tr>
                <tr>
                    <td align="left">
                        <span style="font-weight:bold">
                            {{orderDetails.name}}
                        </span>
                    </td>
                    <td align="left">
                        <span style="font-weight:bold">
                            {{orderDetails.phone}}
                        </span>
                    </td>
                    <td align="left">
                        <span style="font-weight:bold">
                            {{orderDetails.orderId}}
                        </span>
                    </td>
                    <td align="left">
                        <span style="font-weight:bold">
                            {{orderDetails.dateTime}}
                        </span>
                    </td>
                    <td align="left">
                        <span style="font-weight:bold">
                            Rs.{{orderDetails.amount}}
                        </span>
                    </td>
                    <td align="left">
                        <span style="font-weight:bold">
                            {{orderDetails.uid}}
                        </span>
                    </td>
                    <td align="left">
                        <span style="font-weight:bold">
                            {{orderDetails.status}}
                        </span>
                    </td>
                </tr>
        </table>
        <br>
        
{{#if (orderSuccessful orderDetails.status) }}
<h5>Thank you, your payment of Rs.{{orderDetails.amount}} is succesful.</h5>
{{/if}}
{{#unless (orderSuccessful orderDetails.status) }}
<h5>..Your payment of Rs.{{orderDetails.amount}} has failed. Please retry again:
<a href="../{{SITE}}/collectpay?customer={{user.uid}}">Pay Bill</a></h5> 
{{/unless}}
{{else}}
<h5>No Recent transaction found, please click <a href="../{{SITE}}/myhome">'MyHome'</a> to see your dues and  make payment</h5>
{{/if}}