<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <style>
        .vhtable {
            display: table;
        }


        .vhtable, .vhtr {
            display: table-cell;

        }

        .vhtable, vhtr, .vhtd {
            display: block;
        }

        table, th, td {
        border: 1px solid pink;
        border-collapse: collapse;
        }
        th, td {
        padding: 3px;
        }
        table tr:nth-child(even) {
        background-color: #eee;
        }
        table tr:nth-child(odd) {
        background-color: #fff;
        }
        table th {
        color: white;
        background-color: black;
        }

        .paylink {
            text-align: right;
        }

#userinfo {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkblue;

}
#amountfield {
    width: 100px;
}

.vhamount {
    text-align: right;
}

.rightalign {
    float: right;
}

#amt_totalOutstanding, #payAmt {
    background-color: aqua;
    font-weight: bold;
}

#amt_discount {
    background-color: #00ffaa;
}

    </style>
    <body style="font-family:Arial;font-size:12pt;background-color:#EEEEEE">
        <div id="userinfo">
           {{userbill.name}} ({{userbill.roomNo}}), phone: {{userbill.phone}} 
        <br> <br> <br>

<!--TODO print accumulated penalty -->

    <table border="1" style="width:100%">
        <title>Pending bills</title>
        <tr>
            <th>Description</th>
            <th>Due Date</th>

            <th>Amount</th>
            <th>pay</th>
        </tr>

        {{#each pendingBills as |transaction transactionId|}}
        <!--{{stringyfy this}} -->
        <tr>
            <td>{{transaction.description}}</td>
            <td>{{transaction.dueDate}}</td>
            <td class="vhamount" id="amt_{{transactionId}}">{{vhabsolute transaction.transactionAmount}}</td>
            <td> <input type="checkbox" id="chk_{{transactionId}}" onclick="javascript:window.demo.onClickBillChkBox('{{transactionId}}');" checked>  </td>
        </tr>
        {{/each}}
        <tr>
            <td>Total</td>
            <td></td>
            <td class="vhamount" id="amt_totalOutstanding">{{totalOutstanding}}</td>
            <td>  </td>
        </tr>
        <tr>
            <td>Online payment Discount </td>
            <td></td>
            <td class="vhamount" id="amt_discount">-{{discountAmt}}</td>
            <td>  </td>
        </tr>


    </table>

<input type="hidden" id="transactionIds" name="custId" value="{{transactionIds}}">

        <br>
        <div id="paybilldiv" style=";">
<!-- {{#if (pendingAmountGreaterThanZero userbill.computedBalance) }}-->
<!--<a href="../{{SITE}}/collectpay?customer={{user.user_id}}">Pay Bill</a> -->
<input id='customerId' style="width:max-content" type="hidden" maxlength="8" size="8" value="{{user.user_id}}">
&nbsp;&nbsp;

        <br>
<span class="rightalign">Total Rs.<span id="payAmt">{{subtract totalOutstanding discountAmt}} </span> 


<!--<input id="payamount" style="width:max-content" type="text"
    maxlength="8" size="8" value="{{totalOutstanding}}">  change value={{reverseSign userbill.computedBalance}} when things are ok -->
&nbsp;&nbsp;&nbsp;<a id="myLink" title="Click to Pay" href="#" onclick="javascript:window.demo.initiatePaybill();return false;">Pay
    Bill</a> </span>
<br><br>

&nbsp;&nbsp;&nbsp;<a id="myLink" title="Click to Pay" href="#" onclick="javascript:window.demo.collectPayTmPayLinkPayment();return false;">Pay
    Link Bill</a> </span>
<div id="payLinkDiv"></div>
<br><br>



<p style="background-color:powderblue; color:red; font-weight: bold;">Click 'Pay Bill' to pay rent/eb/maintenance:<br> <br> <br>You'll be redirected to payment gateway. Pay with your UPI app (Gpay, Paytm, PhonePe, etc) or Netbanking. 


Please don't refresh/reload during transaction.
&nbsp;&nbsp;&nbsp;</p> 
<br> <p style="background-color:powderblue; color:red;">

</p>
<!--{{else}}
No pending dues.
{{/if}}</div>
</div>-->
    </body>
</html>
