<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<style>
    table {
        display: table;
    }

    table tr {}

    table tr td {}

    table,
    th,
    td {
        border: 1px solid pink;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 3px;
    }

    .odd {
        background-color: #eee;
    }

    .even {
        background-color: #fff;
    }

    table th {
        color: white;
        background-color: black;
    }

    .paylink {
        text-align: right;
    }

    .detail_collected {
        display:none;
        background-color: rgb(142, 228, 142);
    }
    .detail_pending {
        display:none;
        background-color: rgb(227, 228, 198);
    }
    .detail_new_trans {
        display: none;
        background-color: rgb(227, 228, 198);
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>

<body style="font-family:Arial;font-size:12pt;background-color:#EEEEEE">
    {{#isTrue printOption }}
    {{else}}
    <div class="dontprint" id="collectionmenu">
        <div class='menuitem'><a href="./myhome?load=userlist">Active</a></div>
        <div class='menuitem'><a href="./myhome?load=userlist&usertype=archive">Archive</a></div>
    </div>
    {{/isTrue}}
    <!--{{stringyfy userList}}-->


    <table border="1" style="width:100%">
        <col width=100><col width=100><col width=100>  <col width=100><col width=100><col width=100>  <col width=100><col width=100><col width=100>  <col width=100><col width=100>
        <tbody>
        <tr>
            <th>SerialNo:</th>
            <th>Room:</th>
            <th>Rent</th>
            <th>DOJ</th>
            {{#isTrue printOption }}
            {{else}}
            <th>Reminder</th>
            {{/isTrue}}
            <th>Name</th>
            <th>Phone</th>
            {{#isTrue printOption }}
            <th>Coll. Adv</th>
            <th>Collection</th>
            <th>Date</th>
            {{else}}
            <th>UserId</th>
            <th>active/archive</th>
            <th>Create AuthUser</th>
            <th>+ Transactn</th>
            <th>collected</th>
            <th>pending</th>
            {{/isTrue}}


        </tr>
        {{#each userList as |room roomId|}}
        {{#each room as |userRef userId|}}
        <!--{{stringyfy this}}-->
        <tr id="user_{{userId}}" style="color: {{userRef.color}}">
            <td>{{serialNo}}</td>
            <td>
                <!--{{total @../index 1 0}}--{{total @index 1 0}}---->{{roomId}}
            </td>

            </div>
            <td>{{userRef.rent}}</td>
            <td>{{userRef.doj}}</td>
            {{#isTrue ../../printOption }}
            {{else}}
            <td>
                <a id="myLink" title="WhatsappReminderNew" href="#"
                    onclick="javascript:window.demo.sendWhatsapReminderNew('{{userId}}', {{userRef.phone}}, '{{userRef.name}}',  {{getTheDay userRef.doj}});return false;">Send
                    Reminder</a>
            </td>
            {{/isTrue}}
            <td>{{userRef.name}}</td>
            <td>{{userRef.phone}}</td>
            {{#isTrue ../../printOption }}
            <td>
                {{userRef.collectedAdvance}}
            </td>
            <td>
                <pre>Rent:              EB:       </pre>
            </td>
            <td>
                <pre>         /        </pre>
            </td>
            {{else}}
            <td>
                <a href="./myhome?load=userinfo&user={{userId}}">{{userId}}</a>
            </td>

            <td><a href="./myhome?load=moveuser&user={{userId}}&room={{roomId}}&movefrom={{../../usertype}}">Move to
                    {{inverseUserStatus ../../usertype}}</a>
            </td>
            <td><a href="./myhome?load=createauthuser&user={{userId}}">Create AuthUser</a>
            </td>
            <td> <a href="addtransaction"
                    onclick="javascript:window.demo.loadSubContent('{{userId}}', 'newtransaction');return false;">
                    <img src=../images/green_plus.jpg height="32" width="32" class="center">
                </a></td>
            <td> <a href="collected"
                    onclick="javascript:window.demo.loadSubContent('{{userId}}', 'receivedbills');return false;">
                    <img src=../images/down_arrow.png height="32" width="32" id="{{userId}}_receivedbills_image">
                </a></td>
            <td> <a href="pending"
                    onclick="javascript:window.demo.loadSubContent('{{userId}}', 'pendingbills');return false;">
                    <img src=../images/down_arrow.png height="32" width="32" id="{{userId}}_pendingbills_image">
                </a></td>
            {{/isTrue}}
        </tr>
         <!--<div id="{{userId}}_pendingbills" style="display:none"><tr><td>{{userId}}yyyy this is a test</td></tr></div> -->
         <tr id="{{userId}}_newtransaction" class="detail_new_trans"><td></td><td colspan="10">{{userId}}yyyy this is a test</td></tr>
         <tr id="{{userId}}_pendingbills" class="detail_pending"><td></td><td colspan="10">{{userId}}yyyy this is a test</td></tr>
         <tr id="{{userId}}_receivedbills" class="detail_collected"><td></td><td colspan="10">{{userId}}received yyyy this is a test</td></tr>
        {{/each}}
        {{/each}}

</tbody>

    </table>
    <!--<div class='menuitem'><a href="javascript:window.demo.collectPayment()">Pay Bill</a></div> -->

</body>

</html>